# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: friday
    open-pull-requests-limit: 2
    versioning-strategy: increase
    rebase-strategy: "disabled"
    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
    reviewers:
      - process-analytics/pa-collaborators
    # Create a group of dependencies to be updated together in one pull request
    groups:
      gatsby:
        patterns: "gatsby*"
      lint:
        patterns:
          - "*eslint*"
          - "lint-staged"
          - "prettier"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
      fortawesome:
        patterns: "@fortawesome*"
      emotion:
        patterns: "@emotion*"
      mui:
        patterns: "@mui*"
      rebass:
        patterns: "*rebass*"
      styled-components:
        patterns:
          - "styled-components"
          - "babel-plugin-styled-components"
      chroma-js:
        patterns: "*chroma-js*"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
      day: friday
    open-pull-requests-limit: 2
    rebase-strategy: "disabled"
    commit-message:
      prefix: "chore(gha)"
    reviewers:
      - process-analytics/pa-collaborators
