.pa_cookie_consent_theme #cc-main {
    color-scheme: light;

    --cc-font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    --cc-bg: #f8fdff;
    --cc-color: #001f25;

    --cc-btn-primary-bg: #006c4d;
    --cc-btn-primary-color: #ffffff;
    --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
    --cc-btn-primary-hover-bg: var(--cc-btn-primary-color);
    --cc-btn-primary-hover-color: var(--cc-btn-primary-bg);

    --cc-btn-secondary-bg: var(--cc-bg);
    --cc-btn-secondary-color: var(--cc-color);
    --cc-btn-secondary-hover-bg: #ffd9dc;
    --cc-btn-secondary-hover-color: #400011;
    --cc-btn-secondary-hover-border-color: var(--cc-btn-secondary-hover-bg);


    --cc-cookie-category-block-bg: #dbe5dd;
    --cc-cookie-category-block-border: var(--cc-cookie-category-block-bg);
    --cc-cookie-category-block-hover-bg: #ebeff9;
    --cc-cookie-category-block-hover-border: var(--cc-cookie-category-block-hover-bg);

    --cc-toggle-off-bg: #4B9B85;
    --cc-toggle-readonly-bg: #ACDBC3;

    --cc-link-color: var(--cc-btn-primary-bg);

    --cc-overlay-bg: rgba(4, 6, 8, .85) !important;

    --cc-webkit-scrollbar-bg: var(--cc-cookie-category-block-bg);
    --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-bg);

    --mobile-logo-size: 5rem;
    --desktop-logo-size: 8rem;
}

.pa_cookie_consent_theme #cc-main .cc__link:hover, .pa_cookie_consent_theme #cc-main a:hover {
    color: var(--cc-link-color)
}

.pa_cookie_consent_theme #cc-main .pm__header,
.pa_cookie_consent_theme #cc-main .pm__title {
    height: var(--mobile-logo-size);
}
@media (min-width: 62rem) {
    .pa_cookie_consent_theme #cc-main .pm__header,
    .pa_cookie_consent_theme #cc-main .pm__title {
        height: var(--desktop-logo-size);
    }
}