.pa_cookie_consent_theme {
    --cc-font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    --cc-bg: #f8fdff;
    --cc-text: #001f25;
    --cc-btn-primary-bg: #006c4d;
    --cc-btn-primary-text: #ffffff;
    --cc-btn-primary-hover-bg: var(--cc-btn-primary-text);
    --cc-btn-primary-hover-text: var(--cc-btn-primary-bg);
    --cc-btn-secondary-bg: var(--cc-bg);
    --cc-btn-secondary-text: var(--cc-text);
    --cc-btn-secondary-hover-bg: #ffd9dc;
    --cc-btn-secondary-hover-text: #400011;
    --cc-toggle-bg-off: #4B9B85;
    --cc-toggle-bg-on: #006c4d;
    --cc-toggle-bg-readonly: #ACDBC3;
    --cc-cookie-category-block-bg: #dbe5dd;
    --cc-cookie-category-block-bg-hover: #404944;
    --cc-cookie-category-block-text-hover: var(--cc-bg);
    --cc-cookie-table-border: var(--cc-bg);
    --cc-overlay-bg: rgba(4, 6, 8, .85);
    --cc-webkit-scrollbar-bg: var(--cc-cookie-category-block-bg);
    --cc-webkit-scrollbar-bg-hover: var(--cc-btn-primary-bg);
    --mobile-logo-size: 5rem;
    --desktop-logo-size: 8rem;
}

.pa_cookie_consent_theme #c-ttl{
    color: var(--cc-btn-primary-bg);
}

/* Custom border radius */
.pa_cookie_consent_theme #cm,
.pa_cookie_consent_theme #s-bl .act .b-acc,
.pa_cookie_consent_theme #s-inr,
.pa_cookie_consent_theme .cc_div .b-tl,
.pa_cookie_consent_theme .cc_div .c-bl{
    border-radius: 1.2em;
}

.pa_cookie_consent_theme .cc_div .c-bn{
    border-radius: .7em;
}

.pa_cookie_consent_theme .c-bn#c-p-bn,
.pa_cookie_consent_theme .c-bn#s-all-bn{
    box-shadow: inset 0 0 0 .1rem var(--cc-btn-primary-hover-text);
}


.pa_cookie_consent_theme #s-bl tbody tr,
.pa_cookie_consent_theme .cc_div .bar #s-bl tr:hover td::before {
    transition: background-color .25s ease, color .25s ease
}

.pa_cookie_consent_theme #s-bl tbody tr:hover,
.pa_cookie_consent_theme #s-cnt .b-bn .b-tl:active,
.pa_cookie_consent_theme #s-cnt .b-bn .b-tl:hover {
    background: var(--cc-cookie-category-block-bg-hover);
    color: var(--cc-cookie-category-block-text-hover);
}
.pa_cookie_consent_theme .cc_div .bar #s-bl tr:hover td::before {
    color: var(--cc-cookie-category-block-text-hover);
}


.pa_cookie_consent_theme #s-hdr,
.pa_cookie_consent_theme #s-ttl {
    height: var(--mobile-logo-size);
}
.pa_cookie_consent_theme #s-inr {
    padding-top: var(--mobile-logo-size);
}
@media (min-width: 62rem) {
    .pa_cookie_consent_theme #s-hdr,
    .pa_cookie_consent_theme #s-ttl {
        height: var(--desktop-logo-size);
    }
    .pa_cookie_consent_theme #s-inr {
        padding-top: var(--desktop-logo-size);
    }
}

