@import "src/assets/scss/core/variables/colors";
@import "src/assets/scss/core/variables/shadow";

@import "src/assets/scss/core/variables/bootstrap-material-design-base";

// Customized BS variables
@import "src/assets/scss/core/variables/brand";

// import their vars after customization for use below
$enable-flex: true; // fully adopt flexbox layouts
$enable-shadows: true; // enable shadows, set to false to turn off shadows

// // Core Bootstrap Variables
@import "src/assets/scss/core/variables/functions";
@import "src/assets/scss/core/variables/variables";

@import "src/assets/scss/core/variables/bootstrap-material-design";
